.App {
  /* text-align: center; */
background-color: #121250;
/* background-color: #004489; */
color: white;
font-family: 'Montserrat', sans-serif;

}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  background-color: goldenrod;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 134, 33); 
}